<div class="vid-show">
  <h1><%= @user.first_name %>'s Videos</h1>
</div>
<div class="vid-wide">
  <% @video.each do |video| %>
  <a href="/videos/<%= video.id %>"><video width="280" height="157.5" src="<%= video.embed_url %>" frameborder="0" allowfullscreen controls></video></a>


<li class="non-admin"><a><%= link_to 'Remove', favorite_video_path(video.id), method: :delete %></a></li>
<% end %>
</div>
