<div class="vid-show">
  <% if @current_user.present? %>
<h1>Welcome back <%= @current_user.first_name %></h1>

<% end %>

<a href="/videos"><i class="fa fa-paint-brush"></i></a>
<a href="/videos"><i class="fa fa-scissors"></i></a>
</div>
