@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
body{
  background-image: url('step.png');
  background-image-opacity: 50%;
  background-size: cover;
  color: #272525;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
.container{
  width: 70%;
  margin: 0 auto;
}
h1, h2{
  color: #F0F2F1;
}
h1.low{
  font-size: 3em;
  margin-top: 570px !important;
}
.vid{
  width: 50%;
  margin: 0 auto;
}
.vid-wide{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.vid-extra-wide{
  text-align: center;
  width: 782px;
  margin: 0 auto;
}
.vid-skinny{
  width: 520px;
  margin: 0 auto;
  text-align: center;
}
.vid-skinny h1{
  margin-bottom: 1em;
}
.vid-skinny li.non-admin{
  margin-right: 4em;
  margin-bottom: -.25em;
  margin-top: -.5em;
}
.vid-skinny li.non-admin:hover{
  background: #E82C0C;
}
.vid-skinny a{
  text-decoration: none;
  color: #F0F2F1;
}
.regular li.non-admin:hover{
  background: #E82C0C;
}
iframe{
  display: inline-block;
}
.vid-show{
  width: 60%;
  margin: 0 auto;
}
.vid-show h1, h2, p{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  color: #F0F2F1;
}
li.non-admin{
  background: #272525;
  color: #F0F2F1;
  display: inline-block;
  padding: .5em 1em;
  border-radius: .25em;
  text-align: center;
  margin-left: 4em;
  margin-bottom: 1.5em;
}
.vid-line{
  display: inline-block;
}
li.admin{
  background: red;
  color: #F0F2F1;
  display: inline-block;
  padding: .5em 1em;
  border-radius: .25em;
  text-align: center;
  margin-left: 4em;
  margin-top: 1em;
}
a.admin{
  text-decoration: none;
  color: #F0F2F1;
}
a{
  color: #F0F2F1;
}
li:hover{
  background-color: #005f5f;
  border-radius: .65em;
}
#regular, #special{
  width: 38%;
  margin: 0 auto;
}
.vid-show a{
  text-decoration: none;
  color: #F0F2F1;
}
.thumb{


}
i.fa{
  font-size: 15em;
  margin-top: .25em;
}
.fa{
  color: #272525;
}
.feature-video{

}
.nav ul {
  font-size: 0.6em;
  list-style: none;
  background-color: #2C2E32;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Raleway', sans-serif;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #F0F2F1;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #72A7AD;
  border-radius: .65em;
}

.nav a.active {
  background-color: #fff;
  cursor: default;
}


@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
.form-style-8{
      font-family: 'Raleway', sans-serif;
      width: 500px;
      padding: 30px;
      background: #FFFFFF;
      margin: 50px auto;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
      -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
      -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

  }
  .form-style-8 h2{
      background: #4D4D4D;
      text-transform: uppercase;
      font-family: 'Open Sans Condensed', sans-serif;
      color: #797979;
      font-size: 18px;
      font-weight: 100;
      padding: 20px;
      margin: -30px -30px 30px -30px;
  }
  .form-style-8 input[type="text"],
  .form-style-8 input[type="date"],
  .form-style-8 input[type="datetime"],
  .form-style-8 input[type="email"],
  .form-style-8 input[type="number"],
  .form-style-8 input[type="search"],
  .form-style-8 input[type="time"],
  .form-style-8 input[type="url"],
  .form-style-8 input[type="password"],
  .form-style-8 textarea,
  .form-style-8 select
  {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      outline: none;
      display: block;
      width: 100%;
      padding: 7px;
      border: none;
      border-bottom: 1px solid #ddd;
      background: transparent;
      margin-bottom: 10px;
      font: 16px Arial, Helvetica, sans-serif;
      height: 45px;
  }
  .form-style-8 textarea{
      resize:none;
      overflow: hidden;
  }
  .form-style-8 input[type="button"],
  .form-style-8 input[type="submit"]{
      -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
      -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
      box-shadow: inset 0px 1px 0px 0px #45D6D6;
      background-color: #2CBBBB;
      border: 1px solid #27A0A0;
      display: inline-block;
      cursor: pointer;
      color: #FFFFFF;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 14px;
      padding: 8px 18px;
      text-decoration: none;
      text-transform: uppercase;
  }
  .form-style-8 input[type="button"]:hover,
  .form-style-8 input[type="submit"]:hover {
      background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
      background-color:#34CACA;
  }
}
